[submodule "omarchy/.config/omarchy/plugins/timmo.system-bridge"]
	path = omarchy/.config/omarchy/plugins/timmo.system-bridge
	url = https://github.com/timmo001/omarchy-system-bridge.git
	branch = dev
[submodule "omarchy/.config/omarchy/plugins/timmo.momentumctl"]
	path = omarchy/.config/omarchy/plugins/timmo.momentumctl
	url = https://github.com/timmo001/omarchy-momentumctl.git
	branch = main
[submodule "omarchy/.config/omarchy/plugins/timmo.clock"]
	path = omarchy/.config/omarchy/plugins/timmo.clock
	url = https://github.com/timmo001/omarchy-clock.git
	branch = main
[submodule "omarchy/.config/omarchy/plugins/timmo.notes"]
	path = omarchy/.config/omarchy/plugins/timmo.notes
	url = https://github.com/timmo001/omarchy-notes.git
	branch = dev
[submodule "omarchy/.config/omarchy/plugins/sceny.devices"]
	path = omarchy/.config/omarchy/plugins/sceny.devices
	url = https://github.com/sceny/omarchy-devices.git
	branch = main
[submodule "omarchy/.config/omarchy/plugins/nosignal.deckshift"]
	path = omarchy/.config/omarchy/plugins/nosignal.deckshift
	url = https://github.com/28allday/deckshift.git
	branch = master
[submodule "omarchy/.config/omarchy/plugins/timmo.upnext"]
	path = omarchy/.config/omarchy/plugins/timmo.upnext
	url = https://github.com/timmo001/omarchy-upnext.git
	branch = dev
[submodule "omarchy/.config/omarchy/plugins/timmo.agent-checks"]
	path = omarchy/.config/omarchy/plugins/timmo.agent-checks
	url = https://github.com/timmo001/agent-checks.git
	branch = main
