[Unit]
Description=Run MHO-C303 clock sync weekly on Sunday at 3am

[Timer]
OnCalendar=Sun *-*-* 03:00:00
Persistent=true
Unit=mhoc303-clock-sync.service

[Install]
WantedBy=timers.target
