[Unit]
Description=Check for dependency updates hourly

[Timer]
OnCalendar=*-*-* *:10:00
Persistent=true
RandomizedDelaySec=30s
Unit=dot-deps.service

[Install]
WantedBy=timers.target
