[Unit]
Description=Reload the UI after system resume
After=dbus.socket
Requires=dbus.socket

[Service]
Type=simple
ExecStart=%h/.local/bin/reload-ui-monitor
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
