[Unit]
Description=Check for dependency updates every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
RandomizedDelaySec=30s
Unit=dot-deps-scheduled.service

[Install]
WantedBy=timers.target
